.paginator {
    &.mobile{
        display : none;
    }
    @media (max-width:600px)  {
        display : none;
        &.mobile{
            display:inline;
            margin: 0;
            left: 0;
            bottom: 0;
            position: fixed;
            background-color: #333;
            width : 100%;
        }
    }
    position: relative;
    text-align: center;
    padding: 20px 0;
    font-size: 0;
    z-index: 6;
    margin: 50px 0;
  
    &_item {
      font-size: 14px;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      margin: 0 3px 6px;
      height: 38px;
      min-width: 38px;
      border-radius: 38px;
      border: 2px solid #fff;
      line-height: 38px;
      padding: 0;
      color: #fff;
      font-weight: 700;
      letter-spacing: .03em;
    //   display: none;
  
      &:first-child,
      &:last-child {
        padding: 0 16px;
        margin: 0 12px 6px;
      }
  
      &:last-child,
      &:nth-child(2),
      &:nth-last-child(2) {
        display: inline-block;
      }
    }
  
    &_item:hover {
      background-color: #222;
      color: #fff;
    }

    &_ellipsis{
        display: inline-block;
        pointer-events: none;
        color: transparent;
        border-color: transparent;
        width: 50px;
        color: #fff;
        font-size: 32px;
        margin-left: -6px;
    }

    &_item.current_page{
        background-color: #000;
        color: #fff;
    }

  }
  