.userInfo{
    padding : 2rem;
}

.userTableHeader{
    > tr > th{
        height: 45px !important;
        background-color: #8b8b8b;
        color: #fff;
        padding : 1rem;
    }
}

.userTableRow{
    > tr {
        &:hover{
            background-color: #616161!important;
        }
        &:nth-child(odd){
            background-color: #1f2021 ;
        }
        &:nth-child(even){
            background-color: #484848;
        }
        color : #fff;
        // background-color: #616161 !important;
    }
}